body{
	background-color: #666666;
}

.jumbotron{
	border-radius: 0;
	margin: 0;
}
.container{
	min-height: 45vh;
}
.container p,h2,h3,h4,h5,h6{
	color: #333;
}
.table-container{
	width: 50%;
	float: left;
}